<div class="card-top">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="card-body">
        <h1 class="card-title">情報共有サイト</h1>
        <h3 class="card-subtitle">
          養護教諭のための<br>
          様々な情報を共有するサイト
        </h3>
        <p class="card-text">
          養護教諭の仕事のやり方や仕事に対する悩みを共有し、<br>
          少しでも不安や悩みを解消出来ればと思い開発しました。
        </p>
          <div class="btn-group-vertical float-right">
              <%= link_to "ログイン", documents_path, class: "btn-top btn-redius text-white text-decoration-none" %>
              <%= link_to "ログインせずに記事のみ確認", users_guest_sign_in_path, class: "btn-sm text-decoration-none mt-2 btn-outline-primary", method: :post %>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag "https://wp.notepm.jp/wp-content/uploads/2020/01/info-tool-3.jpg", size: "470x400", alt:"情報共有画像" %>
    </div>
  </div>
</div>
