
.card-top {
  padding-top: 80px;
}

.card-text {
  line-height: 1.8;
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  padding: 0 5px 0 5px;
}

// ログインボタン
.btn-top {
  font-size: 20px;
  width: 185px;
  height: 45px;
  text-align: center;
  padding: 7px;
  background-color: #4270d3;
  transition: all 0.5s ease;
  float: right;
}

.btn-top:hover {
  background-color: #8baefa;
}

.btn-redius {
  color: #fff;
  border-radius: 100vh;
  box-sizing: border-box;
}

// ゲストログインボタン
.btn-top2 {
  font-size: 18px;
  width: 250px;
  height: 45px;
  text-align: center;
  transition: all 0.5s ease;
  float: right;

}

.btn-top2:hover{
  background-color: rgb(255, 0, 0);
}

.text-white {
  text-decoration: none;
}

.card-subtitle {
  font-size: 1.6rem;
  font-feature-settings: "pwid";
  line-height: 1.5;
}

// 検索機能

.search-control {
  margin-top: 30px;
  text-align: center;
}
